body {
  background: url(http://orig07.deviantart.net/d03e/f/2008/148/c/3/wood_floor_by_gnrbishop.jpg);
}

.blue {
  background: #013D9E;
}

.blue-light {
  background: #356EFF;
}

.buttons {
  display: inline-block;
  font-size: .8em;
  margin: -20px 5px;
  text-transform: uppercase;
}

.buttons p {
  font-family: Oswald, Arial;
  margin-top: 7px;
}

.clickable {
  cursor: pointer;
}

.congrats {
  color: #595A5B;
  font-family: Orbitron;
  font-size: 2em;
  text-align: center;
}

.green {
  background: #579B55;
}

.green-light {
  background: #4ACE7D;
}

.hidden {
  visibility: hidden;
}

.noselect {
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.onLight {
  background: #FF1C1C!important;
}

.onSwitch {
  position: relative;
  width: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin: 0 auto;
}

.onSwitch-checkbox {
  display: none;
}

.onSwitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 0px;
}

.onSwitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.onSwitch-inner:before,
.onSwitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 20px;
  padding: 0;
  line-height: 16px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
  border: 2px solid transparent;
  background-clip: padding-box;
}

.onSwitch-inner:before {
  content: "On";
  background-color: #2E8DEF;
  color: #FFFFFF;
}

.onSwitch-inner:after {
  content: "Off";
  padding-right: 10px;
  background-color: #CCCCCC;
  color: #333333;
  text-align: right;
}

.onSwitch-switch {
  display: block;
  width: 10px;
  margin: 0px;
  background: #000000;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 40px;
  transition: all 0.3s ease-in 0s;
}

.onSwitch-checkbox:checked + .onSwitch-label .onSwitch-inner {
  margin-left: 0;
}

.onSwitch-checkbox:checked + .onSwitch-label .onSwitch-switch {
  right: 0px;
}

.push_button {
  -moz-box-shadow: 0 5px 0 #595A5B;
  -moz-transition: all .1s;
  -webkit-box-shadow: 0 5px 0 #595A5B;
  -webkit-transition: all .1s;
  background: #FF1C1C;
  border: solid 3px #595A5B;
  border-radius: 50%;
  box-shadow: 0 5px 0 #595A5B;
  color: #ff1C1C;
  display: block;
  height: 15px;
  margin: 0 auto;
  padding: 10px 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .1s;
  width: 15px;
}

.push_button:active {
  -moz-box-shadow: 0 3px 0 #595A5B;
  -webkit-box-shadow: 0 3px 0 #595A5B;
  box-shadow: 0 3px 0 #595A5B;
  position: relative;
  top: 4px;
}

.red {
  background: #BA1818;
}

.red-light {
  background: #ED0B0B;
}

.signature {
  color: #595A5B;
  font-family: Oswald;
  text-align: center;
  text-transform: uppercase;
}

.yellow {
  background: #CECB00;
}

.yellow-light {
  background: #FFF01E;
}

#bottomLeft {
  border-radius: 0 0 0 200px;
  height: 200px;
  margin: 260px 0 0 40px;
  position: absolute;
  width: 200px;
}

#bottomRight {
  border-radius: 0 0 200px 0;
  height: 200px;
  margin: 260px 0 0 260px;
  position: absolute;
  width: 200px;
}

#center {
  background: #FFF;
  border: 15px solid #595A5B;
  border-radius: 50%;
  height: 250px;
  margin: 125px;
  position: absolute;
  text-align: center;
  width: 250px;
  z-index: 1;
}

#center h1 {
  font-size: 4.5em;
  margin-top: 50px;
}

#circle {
  -moz-box-shadow: 0 0 68px -3px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0 0 68px -3px rgba(0, 0, 0, 1);
  background: #595A5B;
  border-radius: 50%;
  box-shadow: 0 0 68px -3px rgba(0, 0, 0, 1);
  font-family: Lalezar;
  height: 500px;
  margin: 10% auto;
  width: 500px;
}

#counter {
  background: #511818;
  border: solid 3px #595A5B;
  border-radius: 15%;
  color: #B22020;
  height: 30px;
  width: 50px;
}

#counterText {
  font-family: Orbitron;
  font-size: 2em;
  letter-spacing: 2px;
  margin: 0 auto;
}

#strict {
  background: #FCFC35;
}

#strictLight {
  background: #FFF;
  border: 1px solid #000;
  border-radius: 50%;
  height: 10px;
  margin: 0 auto 5px;
  width: 10px;
}

#topLeft {
  border-radius: 200px 0 0 0;
  height: 200px;
  margin: 40px 0 0 40px;
  position: absolute;
  width: 200px;
}

#topRight {
  border-radius: 0 200px 0 0;
  height: 200px;
  margin: 40px 0 0 260px;
  position: absolute;
  width: 200px;
}